#ui-datepicker-div { font-size: 12px; } 
.vertical-scroll{
    height: 300px;
}
::ng-deep .horizontal-wrap{
    height: 300px; 
}

::ng-deep .headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
  }
  
  ::ng-deep .headcol:before {
    content: 'Row ';
  }
  
  ::ng-deep .long {
    background: yellow;
    letter-spacing: 1em;
  }
  
  ::ng-deep .sticky-col {
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
  }
  
  ::ng-deep .first-col {
    width: 10px;
    min-width: 10px;
    max-width: 10px;
    left: 0px;
    padding: 0 !important;
  }
  ::ng-deep .sts{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
  }
  ::ng-deep .bg-online{
    background-color:green;
  }
  ::ng-deep .bg-offline{
    background-color:green;
  }